Source: emuelec-emulationstation-addon
Section: games
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Uploaders: Dongjin Kim <tobetter@gmail.com>
Standards-Version: 3.9.8
Build-Depends: debhelper
Vcs-Git: https://github.com/EmuELEC/EmuELEC.git

Package: emuelec-emulationstation-addon
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Default configuration for EmulELEC EmulationStation
 ..
